.root {
    width: 100%;
}

.btn {
    cursor: pointer;
    padding: 10px;
    min-width: 250px;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background-color: blue;
}